@tailwind base;
@tailwind components;
@tailwind utilities;

.veg-symbol{
  width: 18px;
  height: 18px;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.veg-dot{
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
}